/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
	position : relative;
	background-color: #fefefe;
	margin: 5% auto; /* 15% from the top and centered */
	border: 1px solid #888;
	padding : 40px;
	width: 50%; /*  /* Could be more or less, depending on screen size */
	align-items:center;
	justify-content:center;
	overflow-y:scroll;
  }

  .modal-content > p {
	font-family: 'Work Sans';
	display : flex;
	font-size : 25px;
	justify-content: center;
	align-items: center;
  }

  
  /* The Close Button */
  .close {
	color: #aaa;
	position : absolute;
    right: 20px;
    top: 15px;
	font-size: 30px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }

  /* Modal Footer */
  .figModal{
	position: relative;
  }
.modalImg {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	padding-top : 50px;
	gap:10px;
}

.modalImg img {
	width: 100%;
}

.fa-trash-can  {
	position:absolute;
	top:0px;
	right: 0px;
	background-color: black;
	padding : 5px;
	color: white;
	cursor: pointer;
}

.modalFooter {
	display : flex;
	flex-direction : column;
	align-items : center;
	border-top : 1px solid #B3B3B3;
}

.modalFooter > p {
	font-family: 'Syne';
	color: #D65353;
}

.boutonajout {
	padding : 10px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	border : none;
	cursor:pointer;
}

#formAjout {
	display:none;
	position : relative;
	background-color: #fefefe;
	margin: 5% auto; /* 15% from the top and centered */
	padding: 60px 120px 60px 120px;
	align-items:center;
	justify-content:center;
	border: 1px solid #888;
	width: 25%; /* Could be more or less, depending on screen size */
	
  }

#formAjout > p {
	font-family: 'Work Sans';
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}
  
.fa-arrow-left {
	position : absolute;
    left: 20px;
    top: 20px;
	font-size: 20px;
	cursor: pointer;
}

.contentImg {
	display : flex;
	flex-direction:column;
	justify-content :center;
	align-items:center;
	background-color : #E8F1F7;
	border-radius : 3px;
	margin-top : 40px;
	padding-bottom : 20px;
	gap : 15px;
}	

.fa-image {
	font-size : 70px;
	color : #B9C5CC;
}

.fa-times {
	font-size : 20px;
	position : absolute;
	top : 20px;
	right : 20px;
	cursor : pointer;
}

#buttonloadFile {
	padding : 10px;
	font-family: 'Work Sans';
	font-weight: 700;
	color: #306685;
	background-color: #CBD6DC;
	width: 180px;
	text-align: center;
	border-radius: 50px ;
	border : none;
	cursor:pointer;
}

#file {
	display : none;
}

.titre {
	display : flex;
	flex-direction:column;
	gap :20px;
	margin-top : 20px;
	margin-bottom : 40px;
}

.categorie {
	display : flex;
	flex-direction:column;
	gap :20px;
	margin-top : 20px;
	margin-bottom : 40px;
}

.label {
	font-family: 'Work Sans';
}

.labelModal {
	height : 50px;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.btnValider {
	display : flow-root;
	padding : 10px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	margin: 2em auto;
	background-color: #1D6154;
	width: 250px;
	text-align: center;
	border-radius: 60px ;
	border : none;
	cursor:pointer;
}